* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "游ゴシック Medium", "BIZ UDPGothic", sans-serif;
}

div {
  width: 100%;
  /* height: 50vh; */
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column-reverse;
}

p.name {
  font-size: 13.7vw;
  font-weight: 900;
  width: 100%;
  text-align-last: justify;
  margin-top: -0.5rem;
  break-after: avoid-page;
}

p.title {
  font-size: 7vw;
  height: 1em;
  break-after: avoid-page;
  font-feature-settings: "palt";
}
p.amount {
  display: none;
}

p.name::after {
  content: "様";
}

body {
  margin: 0;
  padding: 0 1rem;
}

@media print and (orientation: portrait) {
  div:nth-of-type( 4n ) {
    /* 4人ごと */
    break-after: page;
  }  
}

@media print and (orientation: landscape) {
  div:nth-child( even ) {
    break-after: page;
  }
}
