* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "游ゴシック Medium", "BIZ UDPGothic", sans-serif;
}

@media print {

  div {
    width: 100%;
    /* height: 50vh; */
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column-reverse;
  }

  p.name {
    font-size: 14.2vw;
    font-weight: 900;
    width: 100%;
    text-align-last: justify;
    margin-top: -0.5rem;
    break-after: avoid-page;
  }

  p.title {
    font-size: 7vw;
    height: 7vw;
    break-after: avoid-page;
    font-feature-settings: "palt";
  }
}

@media screen {
  div {
    display: flex;
    flex-direction: row-reverse;
    height: 2rem;
    align-items: center;
  }

  p {
    width: 20%;
  }

  p.title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

p.name::after {
  content: "様";
}

body {
  margin: 0;
  padding: 0;
}

@media print and (orientation: portrait) {
  div:nth-of-type( 4n ) {
    /* 4人ごと */
    break-after: page;
  }  
}

@media print and (orientation: landscape) {
  div:nth-child( even ) {
    break-after: page;
  }
}
