@media print {
  div {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  p {
    font-size: 9rem;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: justify;
    text-align-last: justify;
  }

  p::after {
    content: "様";
  }

  body {
    margin: 0;
    padding: 0;
  }
}