@media print {
  * {
    box-sizing: border-box;
  }

  div {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 50vh;
  }

  p.name {
    font-size: 14.2vw;
    margin: 0;
    padding: 0;
    /* width: 100vw; */
    text-align-last: justify;
  }

  p.title {
    font-size: 7vw;
  }

  p::after {
    content: "様";
  }

  body {
    margin: 0;
    padding: 0;
  }
}