@media print {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  div {
    width: 100vw;
    /* height: 50vh; */
    margin-bottom: 10vh;
  }

  p.name {
    font-size: 14.2vw;
    width: 100vw;
    text-align-last: justify;
    margin-top: -1rem;
  }

  p.title {
    font-size: 7.1vw;
  }

  p.name::after {
    content: "æ§˜";
  }

  body {
    margin: 0;
    padding: 0;
  }
}

@media screen {
  div {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  p {
    margin: 0rem;
  }
}