@media print {
  div {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  p {
    font-size: 7vw;
    margin: 0;
    padding: 0;
    width: 100vw;
    text-align-last: justify;
    box-sizing: border-box;
  }

  p::after {
    content: "様";
  }

  body {
    margin: 0;
    padding: 0;
  }
}